[Desktop Entry]
Type=Application
Name=Tailscreen
GenericName=Screen Sharing
Comment=Share and view screens peer-to-peer over Tailscale
Exec=tailscreen %u
Icon=dev.tailscreen.Tailscreen
Terminal=false
Categories=Network;RemoteAccess;Utility;
Keywords=screen;share;remote;tailscale;viewer;sharing;
StartupNotify=true
MimeType=x-scheme-handler/tailscreen;
